*{
    margin:4px;
}

.item{
    margin-right: 20px;
    text-decoration: none;

}
.home{
    margin-left:25px;
}

.mark{
    color:black;
    font-size: 20px;
}
.navbar-brand{
    font-size: 25px;
}
.card{
    width:500px;
    height:450px;
}
.split{
    display:flex;
    flex-direction: row;
    height:100vh
}
.left{
    flex:1;
    padding:20px;

}
.right{
    flex:1;
    padding:20px;
    background-color: rgb(234, 232, 230);
    
}
.delete{
    background-color: white;
    margin-left: 5px;
    padding: 20px 0px;
    
}
.delete h4{
    margin-left:20px;
}
.delete a{
    margin-left:20px;
}
.newitems{
    background-color:rgb(225, 222, 222);
    padding-bottom: 50px;
    margin-bottom: 30px;
    padding:20px;
    margin-left:30px;
}
.categorycard{
    width:200px;
    height:90px;
    background-color: white;
    padding-top: 10px;


}


.split1{
    display:flex;
    flex-direction: row;
    background-color:rgb(69, 107, 107);
    color:white;
    
}
.left1{
    flex:1;
    padding:20px;

}
.right1{
    flex:1;
    padding:20px;
    text-align: right;
    margin-right:40px;
    
}

.browse {
    display: flex;
    margin-left: 20px;
    background-color:rgb(225, 222, 222);
    padding-top:20px;
}

.left3 {
    width: 20%;
}

.right3 {
    width: 80%;
}
.cat a{
    display:flex;
    flex-direction:row;
    text-decoration: none;
    color:black;
    font-size: 18px;
    background-color: white;
    padding-top:10px;
    border-radius: 3px;
    text-align:center;
}
.filter a{
    padding:2 5px;
}

.filter{
    margin-top:60px;
}
.search input{
    padding:2px 0px;
}
.search button{
    margin-top: 10px;
}

