{% extends 'base.html' %}

{% block content %}

<div class="dashboard">
    <h2 class="text-center">My items</h2>
    <div>
        <div class="container row gap-3 newitems">
            {% for item in items %}
            <div class="card" style="width: 18rem;">
                <a href="{% url 'single_item' item.id %}"><img src="{{ item.photo.url }}" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5>
                    <p class="card-text">price: {{ item.price }}</p>
                </div>
            </div>
            {% endfor %}
       </div>
    </div>
</div>

{% endblock %}