{% extends 'base.html' %}

{% block content %}

<div class="home">
    <h4 class="text-center m-3">Newest items</h4>

    <div class="container row gap-3 newitems">
        {% for item in items %}
        <div class="card" style="width: 18rem;">
            <a href="{% url 'single_item' item.id %}"><img src="{{ item.photo.url }}" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
                <p class="card-text">price: {{ item.price }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="container row gap-3 newitems">
        <h3 class="text-center">Categories</h3>
        {% for category in categories %}
        <div style="width: 18rem;" class="categorycard">
            <div class="card-body">
                <h5 class="card-title">{{category.category}}</h5>
                <p>{{ category.item_count }} items</p>
            </div>
        </div>
        {% endfor %}
    </div>

</div>

<div class="split1">
        <div class="left1">
            <h5>About</h5>
            <p>Ipsa est perspiciatis nisi pariatur unde repellendus libero</p>
        </div>

        <div class="right1">
            <h5 class="menu">Menu</h5>
            <p>About</p>
            <p>Contact</p>
            <p>Privacy Policy</p>
            <p>Term of use</p>
        </div>

</div>

{% endblock %}