{% extends 'base.html' %}

{% block content %}

<div class="split">
    {% if item is not None %}
    <div class="left">
        <img src="{{ item.photo.url }}" class="card" alt="...">
    </div>
    <div class="right">
        <h1>{{ item.name }}</h1>
        <h6>Price:{{ item.price}}</h6>
        <h6>Seller:{{ item.user.username }}</h6>
        <h6>Description:{{ item.description }}</h6>
        
        {% if item.user == user %}
        <div class="delete">
            <h4>This is your item!</h4>
            <a href="{% url 'edit_item' item.id %}" class="btn btn-success">✍🏽Edit</a>
            <a href="{% url 'delete_item' item.id  %}" class="btn btn-danger">Delete</a>
        </div>
        {% else %}
        <a href="" class="btn btn-success">Contact Seller</a>
        {% endif %}
    </div>
    {% endif %}
</div>



{% endblock %}